*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*--------- --------- HEADER ------- ---------*/

header{
    width: 100%;
    height: 700px;
    background: url('../IMAGENES/banner.jpg') #000;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center 0;
    text-align: right;



}

header.contenedor{
    position: relative;
    height: 700px;
}

header.contenedor .menu{
  width: 100%;
}

header .menu a{
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
    
}

header .menu a:hover{
    text-decoration: underline;
}

/*---------------- MAIN ----------------- */

.main {
    background: url('../IMAGENES/fondo2.jpg');
    background-size:1950px;

}

.main .sobre-mi .contenedor{
    overflow: visible;
    position: relative;

}

.main .sobre-mi .foto{
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;

}

.main .sobre-mi .foto img{
    vertical-align: top;
    width: 70%;
    border-radius: 10px;
}

.main .sobre-mi article{
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 800px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px rgba(0,0,0,.35);
    border-radius: 10px;
}

.main .sobre-mi article h3{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
}

.main .sobre-mi article p{
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 700;
}

.main .menu{
    padding-top: 750px;
    margin-bottom: 50px;

}

.main .menu .titulo{
    font-size: 100px ;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 12px 12px 9px rgba(255, 0, 0, 0.514);
}

.main .menu .contenedor-cotizacion{
    background: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 100px ;
}

.main .menu .contenedor-cotizacion2{
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

.main .menu article {
    width: 50%;
    float: left;
    padding: 20px;
    text-shadow: 9px 9px 4px rgba(99, 99, 99, 0.815);
}

.main .menu .opciones,
.main .menu .pagos{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
}

.main .menu .descripcion1,
.main .menu .numero1,
.main .menu .numero2,
.main .menu .numero3{
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    overflow: hidden;
}

.main .menu .lugar,
.main .menu .tamaño,
.main .menu .diseño{
    font-weight: 700;
}

.main .galeria {
    display: flex;
    overflow: hidden;
    background-color: #000;
    flex-wrap: wrap;
}

.main .galeria .foto{
    width: 25%;
    float: left;
    overflow: hidden;
}

.main .galeria .foto img {
    width: 100%;
    vertical-align: top;
    opacity: .4;
    transition: transform 0.3s;
}

.main .galeria .foto:hover{
    transform: scale(1.9);
    z-index: 5;
}

.main .galeria .foto img:hover{
    opacity: 1;
    -webkit-transition:all .3s ease ;
    -o-transition:all .3s ease ;
    transition:all .3s ease ;
    background: #000;

}

.main .ubicacion{
    background: rgba(0,0,0,.80);
    padding: 60px 0;
    overflow: hidden;
}

.main .ubicacion .titulo{
    text-align: center;
    font-size: 60px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom:40px ;
    color: #fff;
}

.main .ubicacion .direccion{
    float: left;
    width: 50%;
    text-align: left;
    color: #fff;
    font-weight: bolder;
    font-size: 40px;

}

.main .ubicacion .zona{
    font-weight: 300;
    margin-left: 50px;
    margin-top: 10px;
}

.main .ubicacion .telefonos{
    float: left;
    width: 50%;
    text-align: left;
    color: #fff;
    font-weight: bolder;
    font-size: 40px;
    overflow: hidden;

}

.main .ubicacion .telefonos .numero_uno,
.main .ubicacion .telefonos .numero_dos{
    font-weight: 300;
    margin-left: 100px;
    margin: 10px;

}

.main .ubicacion .telefonos i{
    margin-right: 15px;
}

.main .ubicacion .telefonos .numero_uno a,
.main .ubicacion .telefonos .numero_dos a{
   padding-left:20px ;
    text-decoration: none;
   color: #fff;

}

.main .ubicacion .telefonos .numero_uno a:hover,
.main .ubicacion .telefonos .numero_dos a:hover{
  color: rgba(226, 0, 0, 0.801);
  -webkit-transition:all .3s ease ;
    -o-transition:all .3s ease ;
    transition:all .3s ease ;
}

.main .mapa{
    width: 100%;
    overflow: hidden;
}

.main .mapa iframe{
    width: 100%;
    max-height: 600px;
}

/************* FOOTER ******************/

footer{
    background: #242424;
}

footer .copyright{
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

/*************** ICONOS ************/
.icons{
    margin-right: 2%;
    margin-top: 21%;
}
header .icons a{
    background-color:rgba(0, 0, 0, 0.438);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration:none;
}

.icons2{
    margin-right: 2%;
}

header .icons2 a{
    background-color:rgba(0, 0, 0, 0.438);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration:none;
}

.skill-icons--instagram {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram0)' rx='60'/%3E%3Crect width='256' height='256' fill='url(%23skillIconsInstagram1)' rx='60'/%3E%3Cpath fill='%23fff' d='M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396c0 26.688-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413c0-26.704.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5c3.5-3.5 6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355c0 28.361 22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334c-18.41 0-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334'/%3E%3Cdefs%3E%3CradialGradient id='skillIconsInstagram0' cx='0' cy='0' r='1' gradientTransform='matrix(0 -253.715 235.975 0 68 275.717)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fd5'/%3E%3Cstop offset='.1' stop-color='%23fd5'/%3E%3Cstop offset='.5' stop-color='%23ff543e'/%3E%3Cstop offset='1' stop-color='%23c837ab'/%3E%3C/radialGradient%3E%3CradialGradient id='skillIconsInstagram1' cx='0' cy='0' r='1' gradientTransform='matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233771c8'/%3E%3Cstop offset='.128' stop-color='%233771c8'/%3E%3Cstop offset='1' stop-color='%2360f' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}


.hand{
    font-size: 50px;
    position: relative;
    text-align: right;
    margin-right: 10%;
    margin-bottom: 20px;
    
    
}

.fa-hand-point-down{
    color: #fff;
    border-color: #000;
}

.hand2{
    font-size: 100px;
    right:23%;
    position:absolute ;
}

/*------------- MEDIA QUERIES ----------- */

@media screen and (max-width : 800px){
    header .contenedor{
        background: url('../IMAGENES/banner.jpg') #000;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    header {
        height: 300px;
    }


    header .menu {
        text-align: center;
    }

    header .menu a{
        font-size: 20px;
        font-weight: 700;
        margin: 10px 20px ;
    }

    .main .sobre-mi .foto{
        width: 80%;
        position: relative;
        text-align: right;

    }


    .main .sobre-mi article{
        position: relative;
        width: 100%;
        top: 0px;
        transform: translate(0px, 0);
        text-align: center;
    }

    .main {
        background: url('../IMAGENES/fondo3.jpg');
        background-size: cover;
    
    }

     .main .menu{
        padding-top: 200px;
     }   

     .main .galeria .foto{
        width:50%;
     }

     .main .mapa{
        width: 80%;
        margin: auto;
     }
     
     header .icons {
        margin-top:20px;
     }

     header .icons .fa-hand-point-down{
        font-size:60px;
     }
     
     .main .telefonos .hand2{
        margin-top: 10px;
        transform: rotate(45deg);
     }
     
     
}


@media screen and (max-width : 500px){
    header .icons .instagram,
    header .icons2 .instagram{
        margin-top: 50px;
        font-size: 20px;
        margin-top: 130px;
        float: right;
    }

    .hand{
        font-size: 50px;
        position: absolute;
        text-align: right;
        margin-right: 50%;
        transform: rotate(45deg);
        margin-top: 150px;
        margin-left: 250px;
        
        
    }

    header .icons .fa-hand-point-down{
        position: absolute;
        margin-top: -90px;
        margin-left:-20px;
    }
    .main .contenedor .direccion,
    .main .contenedor .telefonos{
        width: 50%;
        text-align: left;
        font-size: 30px;
    }

    .main .contenedor .zona{
        text-align:center;
    }

    .main .contenedor .hand2{
        font-size: 80px;
        right:23%;
        transform: rotate(45deg);
        margin-top: 120px ;
        position:absolute ;
    }
}
@media screen and (max-width:400px){
    header {
        height: 140px;
        position: relative;
    }

    header .contenedor{
        background: url('../IMAGENES/banner.jpg') #000;
        background-repeat: no-repeat;
        background-size: 100%;

    }

    header .icons .hand .fa-hand-point-down{
        font-size: 40px;
    }

    header .icons .hand{
        position: absolute;
        float: right;
        margin-top: 60px;
        margin-left: 50%;
    }
    header .icons .instagram span{
        font-size: 20px;
    }

    header .icons .instagram,
    header .icons2 .instagram{
        font-size: 13px;
        margin-top: 5px;
    }


    .main .sobre-mi article{
        position: relative;
        width: 100%;
        top: -45px;
        transform: translate(0px, 0);
        text-align: center;
        padding: 10px;
    }
    
    
    .main .sobre-mi article h3{
        font-size:30px;
        margin-bottom: 10px;
        padding: 0px;
        font-weight: 700;
    }

    .main .contenedor .titulo{
        font-size: 80px;
    }




    .main .sobre-mi .foto img{
        margin-top: 50px;
        width: 200px;
    }

    .main .contenedor .pagos,
    .main .contenedor .opciones{
        font-size: 25px;
    }

    .main .contenedor .descripcion1,
    .main .contenedor .numero1,
    .main .contenedor .numero2,
    .main .contenedor .numero3{
        font-size: 19px;
    }

    .main .contenedor .direccion{
        margin-bottom: 15px;
    }

    .main .contenedor .direccion,
    .main .contenedor .telefonos{
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    .main .telefonos .hand2{
        font-size: 40px;
        margin-right: 50px;   
    }

}
